@import '../../common/theme.less';
.cases{
  width: 1200px;
  margin: auto;
  font-family: 'Microsoft YaHei';
  .wrapper{
    background: #fff;
    margin: 120px 0;
    .top{
      display: flex;
      font-size: 16px;
      padding: 13px;
      .titleBox{
        color: @nav;
        width: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        .title{
          font-size: 60px;
          margin-bottom: 0;
          .ellipse()
        }
      }
      .content{
        font-weight: 300;
        line-height: 34px;
        text-align: justify;
        margin-top: 28px;
      }
    }
  }
}
.form{
  width: 1200px;
  margin: auto;
  background: #fff;
  padding: 20px;
  .fullWidth{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    > div{
      width: calc( 33.33% - 30px);
      margin-right: 45px;
      &:last-child{
        margin-right: 0px;
      }
      > p{
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}