@import '../../common/theme.less';
.cases {
  width: 1200px;
  margin: auto;
  font-family: 'Microsoft YaHei';
  .wrapper {
    background: #fff;
    // border: 1px solid #49fc4a;
    margin: 120px 0;
    .top {
      display: flex;
      font-size: 16px;
      padding: 13px;
      .titleBox {
        color: @nav;
        width: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        .title {
          font-size: 60px;
          margin-bottom: 0;
          .ellipse();
        }
      }
      .content {
        font-weight: 300;
        line-height: 34px;
        text-align: justify;
        margin-top: 28px;
      }
    }
  }
}
