@import '../../common/theme.less';
.footer {
  background: @nav;
  .box {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1px solid @main;
    padding-top: 40px;
    position: relative;
    li {
      list-style: none;
      margin-bottom: 15px;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
    }
    .list {
      .title {
        color: @main;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .item {
        color: #fff;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    .imgBox {
      &:hover {
        .img1 {
          display: none;
        }
        .img3 {
          display: block;
        }
        .img2 {
          display: block;
        }
      }
      .img3 {
        display: none;
      }
      .img2 {
        display: none;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -103px;
        img {
          width: 100%;
        }
      }
    }
  }
  .copyright {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    span {
      margin-right: 31px;
    }
  }
  .comName {
    a {
      color: #fff;
      &:hover {
        color: #f69c44;
      }
    }
  }
}
