.footer{
      background: #001529;
    .box{
      display: flex;
      width: 1200px;
      margin: auto;
      font-weight: bold;
      ul, li{
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .logo{
      width: 90px;
      color: #fff;
    }
}